<div *ngIf="validationResult">
    <h2>Valideringsresultat</h2>
    <p>
        Valideringen hittade <b>{{antalFel}} fel</b> som måste åtgärdas och <b>{{antalVarningar}} varningar </b> som bör
        ses över. Fel och varningar kan ses i tabellen nedan, du kan också välja att <a href="#"
            aria-label="Exportera valideringsresultat" (click)="downloadValidationResult()">exportera
            valideringsresultatet</a></p>


    <app-result-table></app-result-table>
    <div *ngIf="validationResult!.length === 0">
        Inga fel hittades
    </div>
</div>