<div class="file-form-container">
    <mat-card class="example-card">
        <h2>Validera ÄBIN data</h2>
        <mat-card-content>
            <p>Använd formuläret nedan för att välja fil. Valideringen stödjer endast .csv format</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
            <app-file-select-form></app-file-select-form>
        </mat-card-actions>
        <mat-card-content>
            <app-file-info></app-file-info>
        </mat-card-content>
        <mat-card-actions>
            <app-validation-form></app-validation-form>
        </mat-card-actions>
        <mat-card-content>
            <app-validation-info></app-validation-info>
        </mat-card-content>
        <mat-card-footer>

        </mat-card-footer>
    </mat-card>
</div>